/* TYPOGRAPHY */
/* ___________________________________ */

/* Assistant */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

/* Delaney */
@import url("https://use.typekit.net/ycj8qox.css");

/* VARIABLES */
/* ___________________________________ */

:root {
  /* NAVNE ER TBD, JEG ER BARE KOMMET MED FORSLAG OG HAR KLARGJORT DET 
    ====================================================================*/

  /* Farver
    ==========*/
  --hvid: #faf9f7;
  --sort: #2b2b2b;
  --groen: #849b7c;
  --brun: #c3a498;

  /* Spacere 
    ===========*/
  --desktopSectionSpacer: 6.25rem;
  --mobileSectionSpacer: 3rem;

  --tekstBilledeSpacer: 9.6875rem;

  --galleriSpacer: 0.625rem;

  --desktopBroedtekstBilledeOverskriftSpacer: 1.875rem;
  --mobileBroedtekstBilledeOverskriftSpacer: 0.9375rem;

  /* Border radius 
    ================*/
  --borderRadius: 6px;

  /* box shadow */
--cardShadow: 2px 4px 10px rgba(0,0,0,0.25);

--mobileShadow: 0 2.5px 4px rgba(0,0,0,0.3);

  /* 
       Skriftstørrelser – Desktop
    ============================== */
--heroCTA: 1.25rem;

--catchphrase: 4.5rem;

  --desktopNav: 1.5rem;

  --desktopBroedtekst: 1.375rem;

  --desktopH1: 3.25rem;
  --desktopH2: 2.5rem;
  --desktopH3: 1.75rem;

  --desktopFooterOverskrift: 1.25rem;
  --desktopFooterTekst: 1.25rem;

  --desktopCardTitel: 1.5rem;
  --desktopCardBroedtekst: 1.375rem;
  --desktopCardCTA: 1.25rem;

  /*
       Skriftstørrelser – Mobile
    ========================== */
--mobileHeroCTA: 0.875rem;

--mobileCatchphrase: 2.125rem;

  --mobileNav: 1rem;

  --mobileBroedtekst: 1rem;

  --mobileH1: 2.125rem;
  --mobileH2: 1.5rem;
  --mobileH3: 1.25rem;

  --mobileFooterOverskrift: 0.875rem;
  --mobileFooterTekst: 0.875rem;

  --mobileCardTitel: 1rem;
  --mobileCardBroedtekst: 0.875rem;
  --mobileCardCTA: 0.75rem;
}

/* GENERAL STYLING */

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "delaney", sans-serif;
}

p,
a,
li,
button,
input,
label,
textarea,
span {
  font-family: "Assistant", sans-serif;
  line-height: 150%;
}

img {
  max-width: 100%;
}

/* NAVIGATION */
.globalNavigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 175px;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 9999;

  @media screen and (max-width:650px) {
    padding-inline: 1rem;
  }
}

/* Logo left */
.navLogo img {
  height: 175px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

/* Nav ULs */
.navLinks {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navLeft,
.navRight {
  display: flex;
  list-style: none;
  gap: clamp(2.2rem, 8vw, 18rem);
  /* flex-wrap: nowrap;
  white-space: nowrap; */
}

/* Links */
.globalNavigation a {
  text-decoration: none;
  color: var(--hvid);
  font-family: "delaney", sans-serif;
  font-size: var(--desktopNav);
}

.globalNavigation a:hover {
  text-decoration: underline;
}

/* Dropdown */
ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
 transform: translateX(-25%);
  background: var(--hvid);
  z-index: 999;
  flex-direction: column;
  list-style-type: none;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

ul.dropdown li a {
  color: var(--sort);
  font-size: var(--desktopBroedtekst);
  padding: 0.8rem 1rem;
  display: block;
  max-width: 100%;
  word-break: break-word;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


/* Burger button hidden on desktop */
.nav_menu_mobile_wrapper {
  display: none;
}

.fa-bars{
    font-size: 4rem;
}

.burger-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  display: grid;
  justify-items: center;
  color: var(--hvid);
}

.burger-btn i {
    color: var(--hvid);
}

.galleri {
    position: relative;
}

span{
    font-size: 1rem;
}




/* Hero section */

header {
    background-image: url("../images/bryllupsportrætter/brudepar-11-ved-lokation-vandret.jpg");
    background-size: cover;
    background-position: center 15%;
    height: 90vh;
}

.containerHeroImage{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
}

.catchphrase {
  font-family: "freight-big-pro", serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(var(--mobileCatchphrase),8vw, var(--catchphrase));
  color: var(--hvid);
  text-align: center;
}

.containerHeroImage div {
    display: flex;
    gap: 3rem;
    padding-bottom: 8rem;
    width: 100%;
    justify-content: center;

    @media screen and (max-width:650px) {
        flex-direction: column;
        padding-bottom: 0;
        gap: 1.5rem;
    }
}

.containerHeroImage a{
    display: grid;
    place-items: center;
    color: white;
    width: 215px;
    height: 50px;
    border-radius: var(--borderRadius);
    background-color: var(--groen);
    text-decoration: none;
    box-shadow: var(--cardShadow);
    transition: 0.3s ease-in-out;
    font-size: var(--heroCTA);
    text-transform: uppercase;
    @media screen and (max-width:650px) {
        width: calc(100% - 48px);
        margin: 0 auto;
        transform: translateY(150px);
    }
}
.containerHeroImage a:nth-last-child(1){
    background-color: var(--brun);
}

.containerHeroImage a:hover{
    transform: scale(1.05);
}

/* ================================
Media querries
================================== */

@media screen and (max-width: 1500px) {
  .navLeft,
  .navRight {
    gap: clamp(2rem, 9vh, 18rem);
  }
}



@media screen and (max-width: 1200px) {
  .navLeft,
  .navRight {
    gap: clamp(0.2rem, 2vw, 18rem);
  }
}




@media (min-width: 1000px) {
  .globalNavigation li:hover > ul.dropdown {
    display: flex;
  }
}





@media (max-width: 1000px) {

  .navLogo img {
    position: static;
    transform: translateX(0);
    height: 120px;
  }


  .nav_menu_mobile_wrapper {
    display: flex;
  }


  .navLeft,
  .navRight {
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    width: 100%;
    text-align: start;
  }


  .navLinks.show .navLeft,
  .navLinks.show .navRight {
    display: flex;
  }

 
  .navLinks {
    flex-direction: column;
    position: fixed;
    top: 180px;
    right: 0;
    width: 60%;
    background: var(--hvid);
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 998;
  }


  ul.dropdown.showDropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    position: static;
    transform: translateX(0);
        box-shadow: none;
  }

  ul.dropdown.showDropdown li {
padding: 0;

  }

  .globalNavigation li {
    padding: 1rem;
  }

  ul.dropdown li a {
    font-size: 20px;
    max-width: 100%;
    box-shadow: none;
  }





  /* Hero sektion */

  header {
    background-image: url("../images/mobile/brudepar-11-ved-lokation-vandret-mobile.jpg");
}


}
